{{ define "main" -}}
<div class="posts">
    {{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes) }}
    {{ $isSingle := eq (len $paginator.Pages) 1 }}

    {{ range $paginator.Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) $isSingle }}
        {{ .Content }}
        {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        {{ end }}
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
